.tituloCadastrar {
    font-size: 'Poppins', sans-serif !important;
    margin: 50px 0px 50px 150px;
}

.labelCadastrar {
    font-family: 'Poppins', sans-serif !important;
    margin: 10px 0px;
}

.btnVoltar {
    height: 54px;
    width: 200px;
    border-radius: 50px;
    background-color: #1fb6ff !important;
    border: none;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
    color: white;
}


input {
    border-color: #1fb6ff;
    border-radius: 25px;
    box-shadow: none;
    width: 500px;
    height: 44px;
    outline: 0;
    padding: 0px 15px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.containerFormulario {
    margin: 50px 150px;
}

.mensagemErro {
    color: rgb(226, 46, 46);
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
}


/* Media */
@media (min-width: 600px) and (max-width: 800px) { 
    .tituloCadastrar {
        margin: 50px 0px 50px 80px;
    }

    .containerFormulario {
        margin: 50px 80px;
    }

    input {
        width: 450px;

    }
}

@media (min-width: 400px) and (max-width: 599px) { 
    .tituloCadastrar {
        margin: 50px 0px 50px 40px;
    }

    .containerFormulario {
        margin: 50px 40px;
    }

    input {
        width: 350px;

    }
}

@media (min-width: 300px) and (max-width: 399px) { 
    .tituloCadastrar {
        margin: 50px 0px 50px 20px;
    }

    .containerFormulario {
        margin: 50px 20px;
    }

    input {
        width: 250px;

    }
}

@media (max-width: 299px) { 
    .tituloCadastrar {
        margin: 50px 0px 50px 10px;
    }

    .containerFormulario {
        margin: 50px 10px;
    }

    input {
        width: 200px;

    }
}