/* Import de fonte */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.toolbar {
    height: 110px;
    background-color: #1fb6ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logotipo {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: white !important;
    margin: 0px 50px;
}

@media (max-width: 900px) {
    .toolbar {
        height: 80px;
        background-color: #1fb6ff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

