/* Importe da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.banner {
    display: flex;
    flex-direction: row;
    background-color: #d1f0ff;
    padding: 6px;
}

.divisao {
    margin: 180px 150px !important;
    max-width: 450px;
}

.titulo {
    font-family: 'Poppins', sans-serif !important;
}

.subtitulo {
    font-family: 'Poppins', sans-serif !important;
    font-size: 20px;
    margin: 20px 0px;

}

.divImagem {
    margin: 30px 70px;
    padding: 0px;
}

/* transformar este botao em componente e passar props */
.btnPrimario {
    height: 54px;
    width: 200px;
    border-radius: 50px;
    background-color: #db5800;
    border: none;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;

}

.btnPrimario:hover {
    background-color: rgb(207, 70, 7);
    border: 1px solid tomato;
}

.btnSecundario {
    height: 54px;
    width: 200px;
    border-radius: 50px;
    border: 1px solid #db5800 !important;
    background-color: transparent;
    color: #db5800;
    border: none;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
}

.btnSecundario:hover {
    background-color: rgb(207, 70, 7);
    border: 1px solid tomato;
}
