.containerLista {
    display: flex;
    flex-direction: row;
    margin: 0px 150px;
    /* background-color: tomato; */
}

.containerFilme {
    background-color: #eef9ff;
    height: 300px;
    width: 400px;
    margin: 20px;
    padding: 30px;
}

.listaFilme {
    text-decoration: none !important;
    color: tomato;
}

.tituloFilme {
    color: #0e8ac9;
    font-size: 25px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
}

.lancamento, .diretor{
    color: #161616;

    font-size: 20px;
    font-family: 'Poppins', sans-serif !important;
}