.containerLista {
    display: flex;
    flex-direction: row;
    margin: 0px 150px;
    /* width: 100%; */
    height: 66vh;
}

.containerFilme {
    background-color: #eef9ff;
    height: 300px;
    width: 400px;
    margin: 20px;
    padding: 30px;
}

.listaFilme {
    list-style: none;
    color: tomato;
}

.tituloFilme {
    color: #0e8ac9;
    font-size: 25px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
}

.lancamento, .diretor{
    color: #161616;

    font-size: 20px;
    font-family: 'Poppins', sans-serif !important;
}

.acoes {
    display: flex;
    flex-direction: row;
  
}

.btnEditar {
    color: #161616;
    font-size: 20px;
    margin: 30px 0px;
}

.btnApagar {
    color: rgb(214, 45, 45);
    font-size: 20px;
    margin: 30px 10px;
}